extends ../../shared/markup/component

block style
  //- putting this as a placeholder for now
  //- so the compiler wont bark at me
  link(rel="stylesheeet")

block script
  //- putting this as a placeholder for now
  //- so the compiler wont bark at me
  script(type="text/javascript")

block markup
  .row
    .footer
      .twelve
        .pushRight30.uppercase Prakash Venkatraman
      .two
        .uppercase New York City
    
