extends ../../shared/markup/component

block style
  //- putting this as a placeholder for now
  //- so the compiler wont bark at me
  link(rel="stylesheet")

block script
  //- putting this as a placeholder for now
  //- so the compiler wont bark at me
  script(type="text/javascript")

block markup
  .bgIsland
  .content
    .row
      .ten.centered
        .row
          .six
            .title.uppercase.clickable Think
            .title.uppercase.clickable Make
            .title.uppercase.clickable Write
            .title.uppercase.clickable Speak
          .eight
            .ten.centered
              .panel.hide
                .header.uppercase Think
                .content Hello
