extends ../../shared/markup/component

block style
  //- putting this as a placeholder for now
  //- so the compiler wont bark at me
  link(rel="stylesheet")

block script
  //- putting this as a placeholder for now
  //- so the compiler wont bark at me
  script(type="text/javascript")

block markup
  .bgIsland
  .content
    .row
      .ten.centered
        .row
          .six
            .title.uppercase.clickable Think
            .title.uppercase.clickable Make
            .title.uppercase.clickable Write
            .title.uppercase.clickable Speak
          .eight
            .ten.centered
              .panel
                .header.uppercase About Me
                .content
                  | My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?
