extends ../../shared/markup/component

block style
	//- putting this as a placeholder for now
	//- so the compiler wont bark at me
	.csstag

block script
	//- putting this as a placeholder for now
	//- so the compiler wont bark at me
	.scripttag

block markup
	.container Hello